.gallery-persona-container {
    /* TODO add styles (hint: use flex!) https://www.w3schools.com/cssref/ */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.gallery-sketch-container {
    /* TODO add styles (hint: use flex!) https://www.w3schools.com/cssref/ */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-storyboard-container {
    /* TODO add styles (hint: use flex!) https://www.w3schools.com/cssref/ */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

body {
    background-color: rgb(232, 196, 235);
    font-family: 'Optima', 'Segoe', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
}

h1{
    font-family: 'Optima', 'Segoe', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
    font-size: 50px;
    text-align: center;
}

h2{
    font-family: 'Optima', 'Segoe', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
}

h3{
    font-family: 'Optima', 'Segoe', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
}

h4{
    font-family: 'Optima', 'Segoe', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
}

ol{
    font-family: 'Optima', 'Segoe', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
}

ul{
    font-family: 'Optima', 'Segoe', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
}